/* Google Font Here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --bg-color: #081b29;
    --text-color: #fff;

    --h1-font: 3rem;
    --p-font: 1rem;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* ___________Navegation_____________ */
.navber {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6%;
    background: #081b29;
}